.informacion__container{
    background-color: #EB546B;
    h2{
        font-size:47px;
        font-weight: bold;
    }
    .separador{
        height:3px;
        width:100px;
        background-color:salmon;
        margin: 20px 0;
    }
    p{
        font-size:15px;
        color: #000;
        font-weight: bold;
    }
}

.mapa-desktop{
    position: relative;
    top: 90px!important;
}

.imagen-desktop{
    position: relative;
    img{
        position: absolute;
        left: 80%;
        top: 10px
    }
}

.mapa-mobile{
    display: none;
}

.direccion{
    position: relative;
    top: 180px;
    display: flex;
    width: 1300px;
    justify-content: space-around;
    h2{
        border-left: 2px solid salmon;
        padding-left:10px;
        font-weight: bold;
    }
}

@media (max-width: 1405px){
    .mapa-desktop{
        display: none;
    }
    .mapa-mobile{
        display: block;
        iframe{
            height: 500px
        }
    }
    .imagen-desktop{
        display: none;
    }
    .direccion{
        display: none;
    }
}

.recomendaciones{
    background-color:#fff;
    p{
        font-size: 15px;
        color: black;
        font-weight: bold;
    }
}



