@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100&family=IM+Fell+DW+Pica:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  box-sizing: border-box; }

/*Comienza el header*/
html, body {
  height: 100vh; }

header nav {
  display: flex;
  z-index: 2;
  min-height: 8vh;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  background-color: transparent!important;
  position: absolute;
  width: 100%;
}

header nav .links {
  display: flex;
  letter-spacing: .5px;
  font-weight: bold;
  font-size: 14px;
  justify-content: center;
  list-style: none; }

.ham {
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent; }

.ham span {
  display: block;
  background-color: white;
  height: 3px;
  width: 28px;
  margin: 10px auto;
  border-radius: 2px; 
  transition: all .5s ease-in-out;
}


.ham span::after, .ham span::before{
  content: '';
  position: absolute;
  right: 0;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 2px; 
  transition: all .5s ease-in-out;
}

.ham span::after {
  transform: translateY(-10px);
}

.ham span::before{
  transform: translateY(10px);
}

.ham.open .br-1{
  transform: translateX(-50px);
  background: transparent;
}

.ham.open .br-1::before{
  transform: rotate(45deg) translate(35px, -35px);
}

.ham.open .br-1::after{
  transform: rotate(-45deg) translate(35px, 35px);
}

header nav .links a {
  margin: 0 40px;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out; }

.brand {
  display: flex;
  align-items: center; }

.text-header {
  font-size: 30px; }

.logo {
  height: 50px;
  width: 50px; }



/*Comienza la seccion de servicios*/
.servicesContainer {
  height: 90vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 }

.servicesContainer__items {
  display: flex;
  justify-content: space-around; }

.servicesContainer__items2 {
  display: flex;
  justify-content: space-around; }

.servicesContainer__items li {
  font-size: 28px;
  padding: 20px 10px;
  list-style: none;
  display: flex;
  margin-left: -50px;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid salmon;
  letter-spacing: 2px;
  word-spacing: 2px;
  transition: all .3s ease-in;
  cursor: pointer; }

.servicesContainer__items2 li {
  font-size: 28px;
  padding: 20px 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid salmon;
  letter-spacing: 2px;
  word-spacing: 2px;
  transition: all .3s ease-in;
  cursor: pointer; }

.servicesContainer__items li:hover {
  color: salmon;
  transform: translatey(-10px);
  border-bottom: 2px solid black; }

.servicesContainer__items li img {
  width: 100%;
  height: auto;
  max-width: 65px;
  font-weight: 200;
  margin: 10px;
  align-self: center; }

.servicesContainer__items2 li:hover {
  color: salmon;
  transform: translatey(-10px);
  border-bottom: 2px solid black; }

.servicesContainer__items2 li img {
  width: 100%;
  height: auto;
  max-width: 65px;
  font-weight: 200;
  margin: 10px;
  align-self: center; }




/*contacto*/

.contacto-principal{
  overflow-x: hidden;
}

.contacto-wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  z-index: 1;
  background-image: url(../images/slides2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.contacto-texto {
  color: black;
  display: flex;
  margin-left: 40px;
  flex-direction: column;
  gap: 30px; }

.h1-contacto {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 2px; }

.p-contacto {
  font-size: 20px;
  letter-spacing: 1px;
}

.contacto-form{
  height: 100vh;
  padding:100px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image: url(../images/stethoscope-frame-with-copy-space.jpg);
  background-position: left;

  scroll-snap-align: start;
}

.img-form{
  .img-form__h2{
    font-size:50px;
    font-weight: bold;
  }
  img{
    position: relative;
  }
}

.contacto-container {
  border: 1px solid white;
  padding: 20px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 5px rgba(3, 3, 3, 0.2);
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 30vw;
  box-shadow: 0px 2px 5px black;
}

.contacto-logo img {
  position: absolute;
  height: auto;
  width: 100%;
  max-width: 60px;
  top: -40px;
  left: 38%; }

.form-group {
  display: flex;
  flex-direction: column; }

.form-group input {
  border: none;
  transition: all .4s; }

.form-group input:focus {
  font-size: 20px; }

.form-group label {
  border-left: 1px solid salmon;
  padding: 0 8px;
  margin: 8px 0; }

.form-group p {
  border-left: 1px solid salmon;
  font-weight: bold;
  padding: 0 8px;
  margin: 8px 0; }

.form-group textarea {
  resize: none;
  height: 100px;
  border: none;
  transition: all .4s; }

.form-group textarea:focus {
  font-size: 20px; }

.form-group select {
  font-weight: bold;
  border: none; }

.form-group button {
  border: none;
  background-color: salmon;
  border-radius: 30px;
  color: white;
  font-weight: bold; }


@media (max-width:1024px){
  .h1-contacto{
    font-size:50px;
    letter-spacing: 0px;
  }
  .p-contacto{
    letter-spacing: 0px;
  }
  .contacto-texto{
    height:70vh;
    justify-content: center;
    margin-left: 0;
  }
  .contacto-wrapper{
    background: url(../images/slides.jpg)no-repeat left;
    background-size: cover;
  }

  .contacto-form{
    flex-direction: column;
    height:auto;
    align-items: center;
    justify-content: space-evenly;
  }
  .contacto-container{
    width:auto;
  }

  .img-form__h2{
    text-align: center;
    margin: 60px 0;
  }

  .img-form img{
    text-align: center;
    margin-left: 70px;
  }
  .contacto-form{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

}

@media (max-width:450px){
  .img-form{
    .img-form__h2{
      font-size:50px;
      font-weight: bold;
    }
    img{
      position: relative;
      left: -70px;
    }
  }

  .contacto-form{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
}

/*COMIENZA LOGIN*/
.loginWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  background: url(../images/login.jpg) no-repeat center;
  background-size: cover; }

.loginWrapper h1 {
  color: white;
  align-self: flex-end;
  position: relative;
  left: -40px;
  margin-bottom: 20px; }

.loginContainer {
  width: 26%;
  background-color: white;
  border-radius: 12px;
  margin-top: 10px;
  display: flex;
  margin: 0 20px;
  font-size: 15px; }

.formLogin {
  display: flex;
  flex-direction: column; }

.inputContainer {
  margin: 20px 10px;
  font-size: 18px;
  font-weight: bold;
 }

.loginInput {
  width: 100%;
  background: transparent;
  border: none;
  border-left: 1px solid salmon;
  padding: 0 10px;
  margin: 6px 0; }

.loginButton {
  width: 50%;
  border: none;
  background-color: rgba(250, 128, 114, 0.466);
  border-radius: 20px;
  font-weight: bold; }

.registro a {
  font-size: 12px;
  margin-left: 10px;
  text-decoration: none;
  color: black; }

.registro a:hover {
  border-bottom: 1px solid rgba(250, 128, 114, 0.466); }

.loginText {
  display: flex;
  margin: 10px 0;
  padding: 10px 0;
  font-weight: bold;
}

/*LOGIN MOBILE*/
@media (max-width: 1400px){
  .loginWrapper h1{
    position: relative;
    left: -10px;
  }
}

@media (max-width: 1024px){
  .loginWrapper h1{
    color: #fff;
    position: relative;
    left: -50px;
    align-self: flex-end;
    padding-left: 30px;
    font-size:40px;
  }
  .loginContainer {
    width: 30%;
  }
}

@media (max-width: 900px){
  .loginContainer {
    width: 40%;
  }
}

@media (max-width: 560px){
  .loginWrapper h1{
    color: #fff;
    position: static;
    align-self: flex-start;
    padding-left: 30px;
    background-color:black;
    font-weight: bold;
    font-size:40px;
  }
  .loginContainer {
    width: 90%;
  }
}


/*TURNOS*/
.turnosGeneral {
  background: black;
  height: 100vh; }

.turnosWrapper {
  height: 100%;
  background: url(../images/turnos.jpg) no-repeat left;
  background-size: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.turnosWrapper {
  color: white;
}

.turnosContainer {
  width: 30%;
  margin-top: 30vh!important;
  display: flex;
  color: black;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
}

.turnosContainer h2 {
  color: white;
  position: relative;
  bottom: 60px;
  right: 57px; }

.inputWrapper {
  background-color: white;
  position: relative;
  right: 70px;
  border-radius: 20px;
  bottom: 40px; }

.turnosInput {
  margin: 40px 30px; }

#label-turnos {
  display: flex;
  align-items: flex-start;
  flex-direction: column; }

#label-turnos span {
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  margin: 0 10px; }

.span-wrapper {
  border-left: 1px solid salmon;
  margin-top: 8px; }

.button {
  text-align: center; }

.button button {
  width: 80%;
  margin-bottom: 20px;
  color: black;
  border-radius: 30px;
  background-color: rgba(250, 128, 114, 0.473);
  font-weight: bold; }

/*MOBILE TURNOS*/

@media (max-width: 1300px){
  .turnosContainer{
    width: 30%;
  }

  .turnosGeneral{
    height:auto;
  }

}

@media (max-width: 1024px){
  .turnosContainer{
    width: 50%;
  }
}

@media (max-width: 768px){
  .turnosContainer{
    width: 70%;
  }
}

@media (max-width: 425px){
  .turnosContainer{
    width: 100%;
  }
  .inputWrapper{
    position:static;
  }
  .turnosContainer h2{
    position: static;
  }
  .turnosContainer{
    position: relative;
    top: -80px;
  }
  
}

.color-alternative{
  a{
    color: #000 !important;
  }
}

/*MOBILE HEADER*/
@media (max-width: 3000px) {
  body {
    overflow-x: hidden; }
  .ham {
    display: block;
    position: absolute;
    top: 15px;
    right: 25px; }
  header nav {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 25px; }
  .links {
    flex-direction: column;
    justify-content: center;
    align-items: flex;
    text-align: left;
    height: 120vh;
    margin: 0;
    position: relative;
    top: -100px;
    padding: 0;
    width: 100%;
    background-color: black;
    display: none !important;
    opacity: 0; }
  .links li {
    margin: 15px 0; 
    font-size: 30px;
    border-left: 2px solid salmon;
  }
  .color-alternative a{
      color: white !important;
  }

}

@keyframes muestraMenu {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.links.activado {
  display: flex !important;
  animation: muestraMenu 350ms ease-in-out both;
  overflow: hidden; }

.heroText.oculto {
  display: none; }

@media (max-width: 768px) {
  .ubicacion {
    display: none; } }


/*mobile servicios */
@media (max-width: 768px) {
  .servicesContainer {
    height: auto;
    padding-bottom: 20px;
    top: -10px;
    overflow: hidden; }

  .servicesContainer__items {
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 13px;
    gap: 70px; 
    li{
      font-size:20px;
    }
  }
  .servicesContainer__items2 {
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -15px;
    margin-top: 10px;
    gap: 70px;
    li{
      font-size:20px;
    } 
  } 
}
  


.btn-whatsapp{
    display:flex;
    position: fixed;
    right:20px;
    bottom:20px;
    z-index:999;
    img{
        width: 100%;
        max-width: 50px;
        height:auto;
    }
}

.img-container2 {
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/hush-naidoo-yo01Z-9HQAw-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  -webkit-background-size: cover;
}


.carousel-caption h1{
  font-size: 90px;
  color: #fff;
  font-weight: bold;
}

.carousel-caption h2{
  color: #fff;
  font-size: 40px;
}

.container-active{
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}

.arrow-active{
  position: absolute;
  top: 90%;
  left: 48%;
  max-width:40px;
}


@media (max-width: 600px) {
  .container-active{
    margin-bottom: 41px;
  }
  .carousel-caption h1{
    font-size: 67px;
    position: relative;
    right: 30px;
    text-align: center;
  }
  .carousel-caption h2{
    font-size: 28px;
  }
}

@media (max-width: 400px){
  .container-active{
    margin-bottom: 41px;
  }
  .carousel-caption h1{
    font-size: 52px;
    position: relative;
    right: 30px;
    text-align: center;
  }
  .carousel-caption h2{
    font-size: 28px;
  }
}


.carousel-text-container{
    height:82vh;
}

.mapa__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/stethoscope-frame-with-copy-space.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
    padding: 50px 0;

    .mapa__wrapper--contenedor1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;

        h2{
            margin-top: 80px;
            font-size:50px;
            color: white;
            font-weight: bold;
            letter-spacing: 1px;
            position: relative;
            top: -80px;
        }

        img{
            max-width: 300px;
            position: relative;
            top: -40px;
        }
    }

    .mapa__wrapper--contenedor2{
        display: flex;
        justify-content: center;
        align-items: center;

        iframe{
            border-radius: 30px;;
        }
    }

    .mapa__wrapper--contenedor3{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 140px;
        color: #fff;
        text-align: center;

        .mapa__wrapper--divisor{
            height:100px;
            width:2px;
            background-color: salmon;
        }

        h2{
            font-size: 40px;
            padding-bottom: 30px;
            font-weight: bold;
        }

    }
}


@media (max-width: 768px){
    .mapa__wrapper--contenedor1{
        h2{
            font-size: 30px!important;
            color: white;
            font-weight: bold;
            letter-spacing: 1px;
            position:static;
        }
    }

    .mapa__wrapper--contenedor2{
      padding: 0 20px;
    }

    .mapa__wrapper--contenedor3{
        flex-direction: column;
        justify-content: space-between;
        gap: 80px;
    }

    .mapa__wrapper--contenedor1{
        flex-direction: column;
    }
    .mapa__wrapper--divisor{
      transform: rotate(90deg);
    }
}


/*COMIENZA QUIENES SOMOS*/
.about-us{
  overflow: hidden;
}


.about-us__container{
  height:100vh;
  background-image: url(../images/stethoscope-frame-with-copy-space.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.about-us__titulo{
  h2{
    font-size: 85px;
    font-weight: bold;
  }
  p{
    font-size:30px;
  }
}

.arrow_aboutus{
  position: absolute;
  max-width: 30px;
  top: 85vh;
  left: 20%;
}


@mixin responsive-images($width, $height){
  width: $width;
  height: $height;
}

@mixin responsive-images-max-width($width, $height, $max-width){
  width: $width;
  height: $height;
  max-width: $max-width;
}

.info__img{
  @include responsive-images(100%, auto)
}

.info__img-smaller{
  @include responsive-images-max-width(100%, auto, 300px);
}

.burbujas{
  background-color:rgba(250, 128, 114, 0.473);
  height: auto;
}


.info-turno{
  padding: 100px 0;
}
.info-turno__text{
  h3{
    font-size:40px;
    font-weight:bold;
    padding-top: 20px;
  }
  .first-p{
    font-size:23px;
    padding-top: 4px;
    font-weight: bold;
  }
  .second-p{
    padding-top: 10px;
  }
}



@media (max-width: 1024px){
  .about-us__container{
    background-position: center;
    background-size: cover;
  }
  .about-us__titulo h2{
    font-size: 60px;
  }
  .info-turno{
    position: static;
  }
  .info-turno__img a img{
    max-width:200px;
  }
  .container__info-items{
    padding: 40px 0;
  }
  .arrow_aboutus{
    left: 45%;
  }
}

@media (max-width: 1024px){
  .info-turno{
    position: static;
    text-align: center;
  }
}

.app{
  font-size:90px;
}


.preloader{
  position: fixed;
  width: 100%;
  height: 100vh;
  top:0;
  left:0;
  background-color: #000;
  overflow: hidden; 
  z-index: 1000;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

.img-preloader{
  width: 100%;
  height: auto;
  max-width:300px;
}

.h3-preloader{
  color: #fff;
}

.preloader.cargado{
  display: none;
}

.footer-container{
  background-color: salmon;
  color: black;  
}

.footer-titulo{
  color: black;
}

.footer-secciones{
  p{
    color: black;
  }
  a{
    text-decoration:none;
  }
}

.wrapper-trabajos{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/stethoscope-on-white-surface.jpg);
  background-attachment: fixed;
  background-position: left;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.trabajos-container{
  height: 100vh;
  background-color:black;
  display: flex;
  justify-content: space-between;
  padding: 70px;
}

.imagen-trabajos1{
  background-image: url(../images/ecodopplercolor.jpeg);
  background-size: cover;
  height:100%;
  width: 50%;
}

.texto-trabajos1{
  display: flex;
  flex-direction: column;
  justify-content: center;
    .texto-trabajos1__h2{
      color: white;
      font-size:60px;
      width: 600px;
    }
}

.imagen-trabajos2{
  background-image: url(../images/calvin-craig-bdJZn9PmTqM-unsplash.jpg);
  background-size: cover;
  height:100%;
  width: 50%;
}

.texto-trabajos2{
  display: flex;
  flex-direction: column;
  justify-content: center;
    .texto-trabajos2__h2{
      color: white;
      font-size:60px;
      width: 400px;
    }
}

.imagen-trabajos3{
  background-image: url(../images/markus-winkler-BSQxWr8xcI4-unsplash.jpg);
  background-size: cover;
  height:100%;
  width: 50%;
}

.texto-trabajos3{
  display: flex;
  flex-direction: column;
  justify-content: center;
    .texto-trabajos3__h2{
      color: white;
      font-size:60px;
      width: 400px;
    }
}

@media (max-width:1024px){
  .trabajos-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .texto-trabajos1{
      .texto-trabajos1__h2{
        color: white;
        text-align: center;
        font-size:30px;
        width: auto;
      }
  }

  .imagen-trabajos1{
    background-image: url(../images/ecodopplercolor.jpeg);
    background-size: cover;
    background-position: center;
    height:300px;
    margin-top: 10px;
    width: 100%;
  }

  .texto-trabajos2{
      .texto-trabajos2__h2{
        color: white;
        font-size:30px;
        text-align: center;
        width: auto;
      }
  }

  .imagen-trabajos2{
    background-image: url(../images/calvin-craig-bdJZn9PmTqM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height:300px;
    width: 100%;
    margin-bottom: 10px;
  }

  .texto-trabajos3{
      .texto-trabajos3__h2{
        color: white;
        font-size:30px;
        text-align: center;
        width: auto;
      }
  }
  
  .imagen-trabajos3{
    background-image: url(../images/markus-winkler-BSQxWr8xcI4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height:300px;
    width: 100%;
    margin-top: 10px;
  }


}

